body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* Navbar  */
.navbar {
    padding: 0;
    padding-top: 20px;
    transition: all 0.3s ease;
}

.nav-logo {
    height: 50px;
}

.navbar .nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0%;
    color: #333333;
    margin-left: 20px;
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    padding: 10px 0;
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active-nav {
    color: #425F6F;
}






/* Hero Section  */
.hero-section {
    position: relative;
    background: url('/images/bg1.svg') no-repeat center center/cover;
    min-height: 100vh;
    padding-top: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
}



.gradient-subtitle {
    font-size: 1.25rem;
    background: linear-gradient(90deg, #5A707C 0%, #C4B59F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0%;
}

.main-title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: 0%;
    color: #000000;
}

.description-text {
    max-width: 90%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0%;
    color: #4b4b4b;
}

.btn {
    height: 3rem;
    min-width: 12.7rem;
    padding: 0 30px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 1rem;
    line-height: 1.5;
}

.btn i {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.btn-custom-gradient {
    background: linear-gradient(90deg, #5A707C 0%, #AFA290 100%);
    color: white;
    border: none;
}

.btn-custom-gradient:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(90, 112, 124, 0.3);
}

.btn-custom-outline {
    background: transparent;
    border: 2px solid #5A707C;
    color: #5A707C;
}

.btn-custom-outline:hover {
    background: linear-gradient(90deg, #5A707C 0%, #AFA290 100%);
    color: white;
    border: 2px solid transparent;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(90, 112, 124, 0.3);
}

.image-area {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0;
}

.hero-img {
    margin-top: 40px;
    position: relative;
    z-index: 2;
    height: 95vh;
    max-height: 650px;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
}

.circle-bg {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vh;
    height: 65vh;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    z-index: 0;
    border: 5px solid #C0B19B;
    background: linear-gradient(90deg, #425F6F 0%, #C6B9A6 100%);
}

.dashed-border {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vh;
    height: 70vh;
    max-width: 540px;
    max-height: 540px;
    border: 2px dashed #536B76;
    border-radius: 50%;
    z-index: 1;
}

@media (max-width: 991px) {

    .hero-section {
        height: auto;
        padding-top: 100px;
        padding-bottom: 60px;
        text-align: center;
        display: block;
        overflow: visible;
    }

    .image-area {
        position: relative;
        width: 260px;
        height: 260px;
        margin: 0 auto 40px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .image-area::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: linear-gradient(135deg, #5A707C 0%, #AFA290 100%);
        filter: blur(25px);
        border-radius: 50%;
        z-index: -1;
        transform: scale(1.1);
        opacity: 0.8;
    }

    .hero-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center 20%;
        border: 2px solid #C6B9A6;
        background-color: #C6B9A6;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }

    .dashed-border,
    .circle-bg {
        display: none;
    }

    .text-content {
        margin-top: 10px;
    }

    .main-title {
        font-size: 2.3rem;
        margin-top: 10px;
    }

    .buttons-wrapper {
        justify-content: center;
        gap: 15px;
    }

    @media (min-width: 768px) {
        .buttons-wrapper {
            flex-direction: row;
        }

        .image-area {
            width: 300px;
            height: 300px;
        }

    }
}

@media (max-width: 576px) {
    .image-area {
        width: 220px;
        height: 220px;
    }

    .main-title {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .buttons-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .buttons-wrapper .btn {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
    }
}

@keyframes spin-dashed {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}







/* Services Section  */
.services-section {
    padding: 100px 0 70px 0;
    background-color: #fff;
}

.services-section h2,
.common-section h2,
.projects-section h2,
.why-work-section h2,
.contact-section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0%;
    color: #000000;
}

.text-muted {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0%;
    color: #333333;
}

.service-card {
    position: relative;
    padding: 40px;
    border-radius: 20px;
    background:
        linear-gradient(90deg, #FFFFFF 0%, #F3F5F6 100%) padding-box,
        linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #425F6F 100%) border-box;
    border: 2px solid transparent;
    box-shadow:
        0px 2px 6px rgba(0, 0, 0, 0.06),
        0px 10px 30px rgba(0, 0, 0, 0.1);
    height: 100%;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.5;
    color: #0A0A0A;
    letter-spacing: 0%;
}

.card-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #0A0A0A;
    letter-spacing: 0%;

}

.icon-box {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    background-color: #EDEDED;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box img {
    width: 32px;
    height: auto;
}

.service-badge {
    background-color: #F3F5F6;
}

.gradient-text {
    background: linear-gradient(90deg, #425F6F 0%, #C0B19B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.common-section {
    padding: 70px 0;
    background-color: #fff;
}

.service-badge {
    background-color: #F3F5F6;
}

.gradient-text {
    background: linear-gradient(90deg, #425F6F 0%, #C0B19B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}








/* --- Skills Section  --- */
.skill-card {
    position: relative;
    padding: 20px 10px;
    border-radius: 16px;
    height: 100%;
    min-height: 140px;
    background:
        linear-gradient(180deg, #FFFFFF 0%, #F3F5F6 100%) padding-box,
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #425F6F 100%) border-box;
    border: 2px solid transparent;
    box-shadow:
        0px 2px 6px rgba(0, 0, 0, 0.06),
        0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-title {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: 0%;
    color: #000000;
}

.skill-icon img {
    object-fit: contain;
}

@media (max-width: 768px) {
    .skill-card {
        padding: 15px 5px;
        min-height: 120px;
    }

    .skill-title {
        font-size: 14px;
    }

    .skill-icon img {
        width: 35px;
        height: 35px;
    }
}









/* --- Projects Section  --- */
.projects-section {
    padding: 70px 0;
    position: relative;
    overflow: hidden;
}

.project-card {
    padding: 12px;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 24px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    height: 100%;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
}

.project-card:hover {
    transform: translateY(-8px);
    border-color: #C0B19B;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
}

.card-image-box {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 16px;

}

.card-image-box .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: transform 0.5s ease;
}

.project-card:hover .main-img {
    transform: scale(1.05);
}

.hover-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2;
}

.project-card:hover .hover-overlay {
    opacity: 1;
}

.btn-overlay {
    background-color: #FFFFFF;
    color: #1A1A1A;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-overlay:hover {
    background: linear-gradient(90deg, #5A707C 0%, #AFA290 100%);
    color: #FFFFFF;
    transform: translateY(-2px);
}

.card-content {
    padding: 24px;
    text-align: left;
    background: #fff;
    position: relative;
    z-index: 3;
}

.category-tag {
    background-color: rgba(66, 95, 111, 0.08);
    color: #426374;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 6px 14px;
    border-radius: 15px;
}

.year-text {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #999;
}

.project-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.4;
    letter-spacing: 0;
    color: #0A0A0A;
    margin-bottom: 8px;
}

.project-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: #737373;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.dots-pattern {
    position: absolute;
    z-index: 0;
    opacity: 0.6;
    width: 150px;
    height: auto;
}

.dots-top-right {
    top: 300px;
    right: 100px;
}

.dots-bottom-left {
    bottom: 90px;
    left: 80px;
}








/*why-work Section  */
.why-work-section {
    padding: 70px 0;
    background-color: #fff;
}

.feature-box {
    padding: 20px 0;
    transition: transform 0.3s ease;
    cursor: default;
}

.icon-wrapper {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #F8F9FA;
    border: 2px dashed #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}



.feature-title {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0%;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
    color: #0A0A0A;
}

.feature-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #0A0A0A;
}

.service-badge {
    background-color: #F3F5F6;
}

.gradient-text {
    background: linear-gradient(90deg, #425F6F 0%, #C0B19B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


@media (min-width: 768px) {
    .feature-box.down-box {
        margin-top: 90px;
    }

    .narrow-row {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .feature-box {
        padding: 0 30px;
    }

    .mt {
        margin-top: 10px !important;
    }
}




/*Contact Section  */
.contact-section {
    padding: 70px 0;
    background-color: #fff;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background-color: #EAEDEF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px !important;
    color: #3C5968;
    transition: transform 0.3s ease;
}


.contact-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0A0A0A;
    letter-spacing: 0;
}

.contact-form-wrapper {
    background-color: #EAEDEF;
    padding: 40px;
    border-radius: 24px;
}

.form-label {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #0A0A0A;
}

.custom-input {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 15px;
    font-family: 'Poppins', sans-serif;
    color: #425F6F;
    font-weight: 500;
}

.custom-input:focus {
    box-shadow: none;
    border-color: #425F6F;
    background-color: #fff;
}

.submit-btn {
    background: linear-gradient(90deg, #425F6F 0%, #C0B19B 100%);
    color: #fff;
    border: none;
    padding: 20px 50px;
    border-radius: 8px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transition: opacity 0.3s ease;
    min-width: 160px;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.submit-btn:hover {
    background-position: right center;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 15px 25px rgba(66, 95, 111, 0.3);
}

@media (max-width: 767px) {
    .submit-btn {
        width: 100%;
        display: block;
        padding: 15px;
    }
}


@media (max-width: 990px) {

    .or2-contact {
        display: none;
    }

    .contact-form-wrapper {
        background-color: #fff;
    }

    .custom-input {
        border: 1px solid #eee;
        background-color: #fdfdfd;
    }

    .contact-form-wrapper {
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .contact-item {
        flex-direction: row !important;
        text-align: left;
        background: transparent;
    }
}






/* Footer Section */
.footer-section {
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.footer-box {
    background-color: #425F6F;
    border-radius: 30px;
    padding: 60px 20px;
    color: #ffffff;
    z-index: 2;
    position: relative;
    box-shadow: 0 20px 40px rgba(66, 95, 111, 0.15);
}

.footer-logo {
    height: 50px;
    filter: brightness(0) invert(1);
}

.footer-tagline {
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.footer-nav a:hover {
    opacity: 1;
}

.social-links a {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-links a i {
    font-size: 1.5rem;
}

.social-links a:hover {
    background-color: #ffffff;
    color: #425F6F;
    border-color: #ffffff;
    transform: translateY(-3px);
}

.footer-bottom {
    font-family: 'Poppins', sans-serif;
}

.footer-as {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
    color: #0A0A0A;
}

.arrow-symbol {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.footer-dots {
    position: absolute;
    bottom: 70px;
    right: 40px;
    width: 100px;
    opacity: 0.5;
    z-index: 1;
}

@media (max-width: 768px) {
    .footer-box {
        padding: 40px 20px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 15px !important;
    }
}



.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 9999;
    background: linear-gradient(90deg, #5A707C 0%, #C4B59F 100%);
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(131, 25, 183, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-top-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(253, 80, 112, 0.4);
}





::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #425F6F;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C0B19B;
}